<!doctype html>
<html ng-app>
<head>
<!--
This is a HTML page for all Room Operations in Tenant watcher app by Alok Pepakayala (c)


README:
	The idea of the page is to display all rooms from data base in a table like form ..
	The rooms that are vacant can be removed,and all rooms can be modified from this page..
TODO:
	*HEADER 
	*Footer
	*Room table
	*delete room
	*modify room
	*make room

-->
	<script src="/angular.min.js" ng-autobind></script>
	<script src="/tenantwatcher.js"></script>
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link href = "/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body align="center" ng-controller="lobbyControl">

	<!--Insert the main image logo here -->
	<img src="/images/logo_name.svg"/><br>

	<!--Search the table with a cool search bar-->
	<input class="search-query" ng-model="query"><i class="icon-search"></i>


	<!--Entire table markup -->
	<table style="width: 50%"  class="table table-hover " align="center">
		<thead>
			<th></th>
			<th><a href="" ng-click="orderPropNotifications = 'room'; reverse=!reverse">Room</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'hostel'; reverse=!reverse">Hostel</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'occupants'; reverse=!reverse">Occupants</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'capacity'; reverse=!reverse">Capacity</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'tariff'; reverse=!reverse">Tariff</a></th>
		</thead>

		<tr ng-repeat="room in rooms | filter:query | orderBy:orderPropNotifications:reverse" class="{{getRoomStatus(room.occupants ,room.capacity,checked) }}" >
			<td>
				<a href="" ng-click="checked= !checked" ng-hide="checked == 1"><i ng-click="saveRoom(room._id,room.room,room.hostel,room.capacity,room.tariff)" class="icon-ok"></i></a>
				<a href="" ng-click="checked= !checked" ng-hide="checked == 0"><i class="icon-pencil"></i></a>
			</td>
			<td><input type="text"  class="input-small" ng-readonly="checked"  ng-model="room.room" value="{{room.room}}"></td>
			<td><input type="text"  class="input-small" ng-readonly="checked"  ng-model="room.hostel" value="{{room.hostel}}"></td>
			<td><span ng-bind="room.occupants"></span></td>
			<td><input type="text"  class="input-mini" ng-readonly="checked"  ng-model="room.capacity" value="{{room.capacity}}"></td>
			<td><input type="text"  class="input-mini" ng-readonly="checked"  ng-model="room.tariff" value="{{room.tariff}}"></span></td>
			<td><a href="" ng-hide="room.occupants != 0 " ng-click="removeRoom(room._id)"><i ng-hide="checked == 0"class="icon-remove-circle"></a></td>
		</tr>
	</table>

</body>
</html>
