<!doctype html>
<html ng-app="notif">
<head>
<!--
This is a HTML page for all notification  operations in  Tenant watcher app by Alok Pepakayala (c)


README:
	The idea of this page is to display all notification from data base in a table like form,
	
TODO:
	Show all notification
	remove notification
	update notification

				-->    
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="/plax.js"></script>
	<script src="/angular.min.js" ></script>
	<script src="/tenantwatcher.js"></script>
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>


<body ng-controller="notifControl" style="background:black">
<div align= "center" style="margin:40px">

	<!--Insert the main image logo here -->
	<img style="margin:0px" class="near" src="/images/tw_main.jpg" width="620px"/>
	<br>
	<a href="lobby.html"><img style="margin:0px" class="far"  src="/images/tw_rooms.jpg"/></a>
	<a href="start.html"><img style="margin:0px" class="veryfar" src="/images/tw_notif.jpg"/></a>
	<a href="people.html"><img style="margin:0px" class="far" src="/images/tw_tenants.jpg"/></a>
	<br>
	<br>
	
	<!--Search the table with a cool search bar-->
	<input class="input-lg near" 
							ng-model="query">
	<br>
			<i class="glyphicon glyphicon-search "></i>
	<br>


	<!--Entire table markup -->
	<table style="width: 70%"  
						class="table table-hover far " 
							align="center">
		<thead>
			<th class="info"></th>
			<th><a href="" ng-click="orderPropNotifications = 'tenant_record'; reverse=!reverse">Name</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'tenant_record'; reverse=!reverse">Initial</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'room_record'; reverse=!reverse">Room</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'dy'; reverse=!reverse">Year</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'dm'; reverse=!reverse">Month</a></th>
			<th><a href="" ng-click="orderPropNotifications = 'notes'; reverse=!reverse">Notes</a></th>
			<th>
				<a href="" ng-click="refreshView()"><i class="glyphicon glyphicon-refresh"></i></a>
			</th>
		</thead>


		<tr ng-repeat="note in notif | filter:query | orderBy:orderPropNotifications:reverse" 
				class="{{getStatus(note.dm,note.dy)}}" 
				height="50px">
			<!--Edit name  -->
			<td>
				<a href="" ng-click="checked = !checked" ng-hide="checked == 1">
				<i ng-click="updateNote(note._id,note.notes)" 
					class="glyphicon glyphicon-floppy-disk"></i></a>

				<a href="" ng-click="checked= !checked" ng-hide="checked == 0">
				<i class="glyphicon glyphicon-pencil"></i></a>
			</td>

			<!--name td control -->
			<td>
				<span>{{getName(note.tenant_record)}}</span>
			</td>

			<!--intial td control -->
			<td>
				<span>{{getInitial(note.tenant_record)}}</span>
			</td>

			<!--room td control -->
			<td>
				<span>{{formatRoom(note.room_record) }}</span>
			</td>

			<!--year td control -->
			<td>
				<span>{{note.dy}}</span>
			</td>

			<!--month td control -->
			<td>
				<span>{{note.dm}}</span>
			</td>


			<!--notes td control -->
			<td ng-hide="checked">
				<input type="text"   class="input-sm"   ng-model="note.notes" value="{{note.notes}}">
			</td>
			<td ng-hide="!checked">
				<span>{{note.notes}}</span>
			</td>
			<!--Remove person  -->
			<td ng-hide="checked">
				<a href="" ng-click="remove(note._id)">╳</a>
			</td>
			<td ng-hide="!checked"></td>
		</tr>
	</table>



	<!--Copyright-->
<br>
<br>
<br>
<img class="veryfar" src="/images/logo_name.svg" width="300px"/>
<br>
<div class="footer veryfar">&copy; Alok Pepakayala</div>
</div>

	<!-- plax -->
<script type="text/javascript">
				$(document).ready(function () {
					$('.near').plaxify({"xRange":10,"yRange":5,"invert":true})
					$('.veryfar').plaxify({"xRange":20,"yRange":30,"invert":true})
					$('.far').plaxify({"xRange":30,"yRange":15,})
					$.plax.enable()
				 })
</script>
</body>
</html>
